S3method(plot,baseline)
export(baseline)
export(heart)
exportClasses(heart)
exportClasses(summary.heart)
exportMethods(baseline)
exportMethods(coef)
exportMethods(confint)
exportMethods(show)
exportMethods(summary)
import(survrec)
